.transaction-container{
  
    overflow: auto;
    /* border-radius: 8%; */
}

.transaction-table{
    background-color: #fff;
    width: 96%;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}
.transaction-table thead th{
    padding:10px 15px;
    color: #68020f;
    font-size: 1.2rem;
    text-align: start;
    font-weight: 400;
    text-transform: capitalize;
}
.transaction-table tbody td{
    padding:10px 15px;
    background-color: #fff;
}
.transact-detail{
    text-transform: capitalize;
    color: #fff;
    font-size: 1.6rem;
    padding: 20px 10px;
}